body {
  background-color: $second-text-color;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section {
  padding: 94px 0;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
a {
  text-decoration: none;
}
