/*what we do*/
.doing__title {
  color: $title-text-color;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.do-list {
  display: flex;
  justify-content: space-between;
}
.do-list li {
  position: relative;
}
.do-list__text {
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $second-text-color;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
}
